<h1 style="color: #5e9ca0; text-align: center;"><span style="color: #ff0000;">MY MUSE</span></h1>
<p style="color: #5e9ca0; text-align: center;"><em><span style="color: #ff0000;">welcome to my muse, where your emotions begin</span></em></p>
<form action="{% url 'home' %}" method="get">
<div style="text-align: center;"><label for="band_name">Nazwa zespołu:</label> <input id="band_name" name="band_name" type="text" /></div>
<div style="text-align: center;"><label for="city">Miasto:</label> <input id="city" name="city" type="text" /></div>
<div style="text-align: center;"><label for="genre">Gatunek:</label> <input id="genre" name="genre" type="text" /></div>
<p style="text-align: center;">&nbsp;</p>
</form>